

<div style="position:absolute;left:100px">
  <h3>
    {{data.firstname}} {{data.lastname}}
  </h3>
</div>
<div style="position:absolute;left:100px">
  <br>
  <br>
  <h6>Email:</h6> {{data.email}}<br><br />

  <h6>Address:</h6>{{data.address}}<br><br>

  <h6>User Name:</h6>{{data.username}}<br><br>

  <h6>Password:</h6>{{data.password}}<br><br>

  <h6>Gender:</h6>{{data.gender}}<br><br>

  <h6>Qualification:</h6>{{data.qualification}}<br><br>

  <h6>Experience:</h6>{{data.experience}}<br><br>

  <h6>Coding Languages:</h6>{{data.langKnown}}<br><br>

  </div>
