<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div style="background-color:lightblue;text-align:center">
    <h1>EMPLOYEE SYSTEM</h1>
  </div>
  <div style="background-color:lightblue">
    <button class="btn btn-basic" style="margin-left:20px;font-size:16px" [routerLink]="['/home']">home</button>
    <button class="btn btn-basic" style="margin-left:20px;font-size:16px" [routerLink]="['/list']">Employee List</button>
    <button class="btn btn-basic" style="margin-left:20px;font-size:16px" [routerLink]="['/add']">Add new employee</button>
  </div>
  <br>
  <br>
  <router-outlet></router-outlet>
</div>

